{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Flyweight</h1>
    <p>Minimiza el uso de memoria compartiendo objetos de granularidad fina.</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/python-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container" style="padding-bottom: 3em;">
  <div class="row">
    <div class="col-md-6">
      <h3> Motivación</h3>
      <p>Existen aplicaciones que se pueden beneficiar del uso de objetos en algún lugar de su diseño, pero que no se usan debido a que se necesitarían demasiados.</p>
      <p>Por ejemplo, usar objetos para cada caracter en un editor de texto.</p>
      <p>El patrón <strong>flyweight</strong> describe como compartir objetos para permitir su uso a granularidades finas sin un costo prohibitivo</p>
      <h3>Conceptos</h3>
      <p>Una <strong>fábrica</strong> (similar a Factory Method) se encarga de compartir los objetos:</p>
      <ul>
      <li>A la fábrica se le pide un objeto con ciertos parámetros</li>
      <li>Si el objeto con esos parámetros ya existe se devuelve ese objeto.</li>
      <li>Si no existe, se crea uno nuevo.</li>
      </ul>
      <p>Cada objeto tiene estado <strong>intríseco</strong> y estado <strong>extrínseco</strong>.</p>
      <ul>
        <li>Intríseco: independiente del contexto y almacenado en el objeto.</li>
        <li>Extrínseco: varía según el contexto por lo que no se puede compartir. El cliente lo pasa al objeto cuando se necesita.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3> Diagrama</h3>
      <img src="{% static 'flyweight-pattern-uml.gif' %}">
    </div>
  </div> <!-- row -->
  <div class="row">
    <div class="col-md-6">
      <h3> Cuándo se debe aplicar</h3>
      <p>El patrón flyweight debe aplicarse cuando todas las siguientes condiciones se cumplen:</p>
      <ul>
        <li>La aplicación usa una gran cantidad de objectos.</li>
        <li>La cantidad de objetos afecta el costo del almacenamiento.</li>
        <li>El estado de los objetos es en su mayoría extrínseco.</li>
        <li>Grandes grupos de objetos se pueden remplazar por objetos compartidos.</li>
        <li>La aplicación no depende de la identidad de los objetos, ya que estos son compartidos.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3> Ejemplo</h3>
      <ul>
        <li><a href="{% url 'flyweight' %}">Nevería</a></li>
      </ul>
    </div>
  </div> <!-- row -->
</div>
{% endblock %}
